[role=page-footer]
  background-color: #007FFF
  padding-top: 1em
  padding-bottom: 1em

  h3.title
    color: white
    margin-top: 10px
    margin-bottom: 2em
    text-align: center

  label
    color: white

  button#send-message
    margin-top: 10px

  p
    color: white

    span.number
      font-size: 18px

  .form-contact-us
    background-color: #1F68B1
    padding-bottom: 20px
    border-radius: 5px