[role=page-header]
  background-image: url('/www/assets/img/background_planning.jpg')
  background-position: 0px 5px
  
  .overlay
    background-color: rgba(0,127,255,0.8);
    padding-bottom: 5em;
    padding-top: 5em;

  img
    margin-top: 1.8em
    
  h1
    color: white
    font-size: 32px
    margin-top: 1em