[role=page-section]#contact-us
  background-color: #eeeeee

[role=page-section]
  [role=section-header]
    background-color: #007FFF
    border-bottom: 2px solid #1F68B1
    padding-top: 1em
    padding-bottom: 1em
    
    h3.title
      color: white
      margin-top: 10px
      margin-bottom: 10px
      text-align: center
  
  [role=section-article]
    padding-top: 3em
    padding-bottom: 3em
    
    .media .cube-blue
      border-bottom: 2px solid #1F68B1
      float: left
      width: 48px
      height: 48px
      background-color: #007fff
      margin-right: 10px
      margin-bottom: 10px
      color: white;
      font-size: 16px
      padding-left: 15px
      padding-top: 15px
    
    .nav-tabs
      margin-bottom: 15px
    
    .carousel-caption
      background-color: rgba(114, 114, 114, 0.69)
      border-radius: 18px
    
    img.client
      margin-bottom: 20px

    .panel-primary
      border-color: #007fff

      .panel-heading 
        background-color: #007fff
        border-color: #007fff
    
    p
      
      span.number
        color: #1f68b1
        font-size: 18px

    button#send-message
      margin-top: 10px
      background-color: #007fff
  
  [role=section-footer]
    background-color: #eeeeee
    border-top: 2px solid #E6E6E6
    padding-top: 0.5em
    padding-bottom: 0.5em
    
    p
      margin: 0 0 0px